.footer4.b-t {
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    background-color: #ddd;
}
.spacer {
    padding: 70px 0;
}
* {
    outline: none;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
